<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>404 Error!</title>

    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body style="background-image: none;">
<div class="error-outer">
    <div class="error-container">
        <img src="../static/imgs/gif.gif" style="height: 150px; width:auto;">
        <p>404, Big time oof! <a style="color:#fff;" href="{{ url_for('blue_print.register') }}">Back to stuff and
            things</a></p>
    </div>
</div>
</body>
</html>