<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
    <!-- Bootstrap files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom CSS and JS -->
    <script src="../static/js/script.js"></script>
</head>
<body>
    {% if rows %}
      {% for row in rows %}
          <h2>paletteId: {{ row["paletteId"] }}</h2>
          <h2>username: {{ row["username"] }}</h2>
          <h2>filepath: {{ row["filepath"] }}</h2>
      {%  endfor %}
    {% else %}
      <h1>Unable to find anything</h1>
    {% endif %}
</body>
</html>