<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS and JS -->
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    {%  include 'navbar.html' %}
    {% if palettesById %}
      {% for row in palettesById %}
          <img style="height: 300px" src="{{row["filepath"]}}">
          <h4>paletteId: {{ row["paletteId"] }}</h4>
          <h4>username: {{ row["username"] }}</h4>
          <h4>filepath: {{ row["filepath"] }}</h4>
          <h4>username: {{ row["username"] }}</h4>
          <h4>hex values:</h4>
        {% for hex in paletteColors[row["paletteId"]] %}
            <h5>{{ hex }}</h5>
          {% endfor %}
      {%  endfor %}
    {% else %}
      <h1>Unable to find any palettes</h1>
    {% endif %}
</body>
</html>