<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
    <!-- Bootstrap files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom CSS and JS -->
    <script src="../static/js/script.js"></script>
</head>
<body>
    <h1>Fun Facts about Smartpalette!</h1>
    <ul>
        <li><h2>SmartPalette has {{ numUsers }} users who have signed up!</h2></li>
        <li><h2>There are {{ powerUsers|length }} "power users", which are users who have uploaded five or more palettes!</h2></li>
        <li><h2>There are (hardcoded, still TODO) images that have the word "awesome" in their filepath!</h2></li>
    </ul>

</body>
</html>