<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS and JS -->
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    {%  include 'navbar.html' %}
    <h1>Fun Facts about Smartpalette!</h1>
    <ul>
        <li><h2>SmartPalette has {{ numUsers }} users who have signed up!</h2></li>
        <li><h2>There are {{ powerUsers|length }} "power users", which are users who have uploaded five or more palettes!</h2></li>
        <li><h2>There are {{ numAwesome }} images that have the word "awesome" in their filepath!</h2></li>
        <li><h2>There are {{ numPalettes }} user-generated palettes!</h2></li>
        <li><h2>This page has been visited {{ visited }} times! (hit refresh to see this go up)</h2></li>
    </ul>

</body>
</html>