<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Smart Palette</title>

    <!-- Bootstrap files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom CSS and JS -->
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>

<!-- Header -->

<header class="masthead bg-header text-white text-center">
    <img src="../static/imgs/login-image.svg" id="login-button" data-toggle="modal" data-target="#createAccountModal">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="../static/imgs/Logo.png" alt="logo">
        <hr class="star-light">
        <div class="box">
            <h2>Create your custom palettes with the click of a button.</h2>
            <p>Its easy! Upload your image, select how many colors your would like to generate,
                and boom. <br>
                Be sure to create an account to share and view others creations.</p>
            <div class="button" data-toggle="modal" data-target="#uploadModal">Upload Image</div>

            <div class="button" data-toggle="modal" data-target="#showExample">View Example</div>
            <br>
        </div>
        <hr class="star-light">
    </div>
</header>
<!-- End header -->


<!-- Upload image modal-->
<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Setup Your Custom Palette</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6" id="left-column">
                        <div id="image-output"><img id="output"/></div>
                    </div>

                    <div class="col-sm-6" id="right-column">
                        <label class="upload-button fade-out" for="upload-photo">Browse...</label>
                        <input class="fade-out" id="upload-photo" type="file" name="pic" accept="image/*"
                               onchange="readFile()">
                        <h1 class="fade-out">How many colors would you like to generate?</h1>
                        <p class="fade-out">*Number may be reduced due to image content</p>
                        <div class="form-group fade-out">
                            <select class="form-control" id="paletteNumberSelect">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="upload-button" id="image-info">Generate Palette</div>
            </div>
        </div>
    </div>
</div>
<!-- End upload image modal -->


<!-- Create account modal-->
<div id="createAccountModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <img src="../static/imgs/login-image.svg"
                     style="height: 125px; width: auto; text-align:center; margin-bottom: 20px;">
                <form>
                    <div class="input-group">
                        <input id="new_username" type="text" class="form-control" name="username"
                               placeholder="Username">
                    </div>
                    <div class="input-group">
                        <input id="new_password" type="password" class="form-control" name="password"
                               placeholder="Password">
                    </div>
                </form>
                <p style="text-decoration: underline;" data-toggle="modal" data-target="#loginModal"
                   onclick="$('#createAccountModal').modal('hide');">Already have an account?</p>
            </div>
            <div class="modal-footer">
                <div class="upload-button" id="create-account">Accept</div>
            </div>
        </div>
    </div>
</div>
<!-- End create account modal -->

<!-- Login modal-->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <img src="../static/imgs/login-image.svg"
                     style="height: 125px; width: auto; text-align:center; margin-bottom: 20px;">
                <form>
                    <div class="input-group">
                        <input id="usename" type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <input id="password" type="password" class="form-control" name="password"
                               placeholder="Password">
                    </div>
                </form>
                <p style="text-decoration: underline;" data-toggle="modal" data-target="#createAccountModal"
                   onclick="$('#loginModal').modal('hide');">Need to create an account?</p>
            </div>
            <div class="modal-footer">
                <div class="upload-button" id="login-account">Continue</div>
            </div>
        </div>
    </div>
</div>
<!-- End create account modal -->

<!-- Show example modal-->
<!-- Could add slide show?-->
<div id="showExample" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Example</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <img src="../static/imgs/RainbowPalette.png"
                     style="height: auto; width: 450px; text-align:center; margin-bottom: 20px;">
            </div>
            <div class="modal-footer">
                <div class="upload-button" data-toggle="modal" data-target="#uploadModal"
                     onclick="$('#showExample').modal('hide')">Try Yourself
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End show example modal -->

</body>
</html>